<h1>Seattle Grace Hosiptal - Doctors </h1>

<ul>
  <% @doctors.each do |doctor| %>
    <li><%= link_to "Dr. #{doctor}, #{doctor.department} - #{pluralize("partients", doctor.patient_count)}"%></li>
  <% end %>
</ul>
