<h1>Dr. <%= @doctor.name %></h1>
<h3>Department: <%= @doctor.department%></h3>
<h3>Appointments</h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Patient</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
